/**
 * FONTS
 * ----------------------------------------------------------------------------------------------------
 */
@font-face {
  font-family: "AreaNeu";
  src: url("../fonts/AreaNeu-gxaVP.ttf");
}

html {
  font-family: "AreaNeu", Arial, sans-serif;
  color: white;
  font-size: 4px;
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 4.2px;
  }
}

@media only screen and (min-width: 1024px) {
  html {
    font-size: 4.4px;
  }
}

h2 {
  font-size: 5rem;
}

h2 + a {
  font-size: 5.4rem;
}

p {
  font-size: 2.6rem;
}

span {
  font-size: 2.4rem;
}

/**
 * GENERAL STYLES
 * ----------------------------------------------------------------------------------------------------
 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #2b2b2b;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

/**
 * POKÉMON CAROUSEL
 * ----------------------------------------------------------------------------------------------------
 */

/* Carousel layout */
.pokemon-carousel {
  height: 520px;
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px black;
  background-color: #1a1a1a;
}

/* Layout and basic styles of the carousel slider */
.pokemon-carousel__slider {
  height: 85%;
  display: flex;
  flex-flow: row nowrap;
  transition: all 0.4s ease;
}

/* Layout and basic styles of the card */
.pokemon-carousel__card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #131313;
}

/* Basic styles and layout fixes of the general info */
.pokemon-carousel__general-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px 10px 0 0;
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;
}
.pokemon-carousel__general-info img {
  margin-top: 50px;
  border-radius: 100px;
  width: 50%;
}
.pokemon-carousel__general-info h2 {
  margin: 0;
  padding: 20px 5px 10px;
}

.pokemon-carousel__general-info a {
  font-weight: bold;
  padding: 5px;
}
.pokemon-carousel__general-info span {
  padding: 10px;
}

/* Basic styles and layout fixes of the stats */
.pokemon-carousel__stats {
  display: flex;
  margin: 40px 0 20px;
}
.pokemon-carousel__stats div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pokemon-carousel__stats p {
  margin: 0;
  padding: 5px;
}
.pokemon-carousel__stats img {
  margin: 5px 0;
  width: 30%;
}

/* Carousel buttons positioning and styles */
.pokemon-carousel__buttons {
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
  -webkit-tap-highlight-color: transparent;
}
.pokemon-carousel__button {
  border: none;
  background-color: inherit;
  height: 50px;
  border-radius: 100px;
  font-size: 50px;
  color: #ffffff;
  transition: 0.1s;
}
.pokemon-carousel__button--left {
  margin-left: 10%;
}
.pokemon-carousel__button--right {
  margin-right: 10%;
}
.pokemon-carousel__button i {
  box-shadow: 1px 1px 5px #ffffff;
  border-radius: 200px;
}
.pokemon-carousel__button:hover {
  font-size: 52px;
  color: #bdbdbd;
  box-shadow: 1px 1px 5px #bdbdbd;
  cursor: pointer;
  transition: 0.1s;
}

/* Card colors */
.pokemon-carousel__card--grass .pokemon-carousel__general-info {
  border-bottom: 1px solid #328b50;
  background-image: url("../img/grass-type_background.jpg");
}
.pokemon-carousel__card--grass .pokemon-carousel__general-info img {
  border: 4px solid #328b50;
  box-shadow: 0 0 8px #328b50;
}
.pokemon-carousel__card--grass .pokemon-carousel__general-info a {
  color: #2da856;
}
.pokemon-carousel__card--grass .pokemon-carousel__general-info a:hover {
  color: #13c24e;
}

.pokemon-carousel__card--fire .pokemon-carousel__general-info {
  border-bottom: 1px solid #972d00;
  background-image: url("../img/fire-type_background.jpg");
}
.pokemon-carousel__card--fire .pokemon-carousel__general-info img {
  border: 4px solid #f78251;
  box-shadow: 0 0 8px #ff6827;
}
.pokemon-carousel__card--fire .pokemon-carousel__general-info a {
  color: #f78251;
}
.pokemon-carousel__card--fire .pokemon-carousel__general-info a:hover {
  color: #ff753a;
}

.pokemon-carousel__card--water .pokemon-carousel__general-info {
  border-bottom: 1px solid #216c8a;
  background-image: url("../img/water-type_background.jpg");
}
.pokemon-carousel__card--water .pokemon-carousel__general-info img {
  border: 4px solid #37addd;
  box-shadow: 0 0 8px #2f95bd;
}
.pokemon-carousel__card--water .pokemon-carousel__general-info a {
  color: #37addd;
}
.pokemon-carousel__card--water .pokemon-carousel__general-info a:hover {
  color: #15b5f5;
}

.pokemon-carousel__card--poison .pokemon-carousel__general-info {
  border-bottom: 1px solid #411f4b;
  background-image: url("../img/poison-type_background.jpg");
}
.pokemon-carousel__card--poison .pokemon-carousel__general-info img {
  border: 4px solid #633071;
  box-shadow: 0 0 8px #633071;
}
.pokemon-carousel__card--poison .pokemon-carousel__general-info a {
  color: #633071;
}
.pokemon-carousel__card--poison .pokemon-carousel__general-info a:hover {
  color: #9648ac;
}

.pokemon-carousel__card--ground .pokemon-carousel__general-info {
  border-bottom: 1px solid #897a34;
  background-image: url("../img/ground-type_background.jpg");
}
.pokemon-carousel__card--ground .pokemon-carousel__general-info img {
  border: 4px solid #897a34;
  box-shadow: 0 0 8px #897a34;
}
.pokemon-carousel__card--ground .pokemon-carousel__general-info a {
  color: #897a34;
}
.pokemon-carousel__card--ground .pokemon-carousel__general-info a:hover {
  color: #bea421;
}

.pokemon-carousel__card--normal .pokemon-carousel__general-info {
  border-bottom: 1px solid #2d3031;
  background-image: url("../img/normal-type_background.jpg");
}
.pokemon-carousel__card--normal .pokemon-carousel__general-info img {
  border: 4px solid #484e51;
  box-shadow: 0 0 8px #484e51;
}
.pokemon-carousel__card--normal .pokemon-carousel__general-info a {
  color: #484e51;
}
.pokemon-carousel__card--normal .pokemon-carousel__general-info a:hover {
  color: #cdd4d6;
}

/* Tablet responsive design */
@media only screen and (min-width: 768px) {
  .pokemon-carousel {
    height: 540px;
    width: 320px;
  }
}

/* Laptop responsive design */
@media only screen and (min-width: 1024px) {
  .pokemon-carousel {
    height: 560px;
    width: 340px;
  }
}
