/**
 * FONTS
 * ----------------------------------------------------------------------------------------------------
 */
@font-face {
  font-family: "AreaNeu";
  src: url("../fonts/AreaNeu-gxaVP.ttf");
}

html {
  font-family: "AreaNeu", Arial, sans-serif;
  font-size: 4px;
  color: white;
}

/* Mobile font-sizes */
h2 {
  font-size: 5rem;
}

h2 + a {
  font-size: 5.4rem;
}

p {
  font-size: 2.6rem;
}

span {
  font-size: 2.4rem;
}

/* Tablet font-sizes */
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 5.4rem;
  }

  h2 + a {
    font-size: 5.8rem;
  }

  p {
    font-size: 2.6rem;
  }

  span {
    font-size: 2.6rem;
  }
}

/* Laptop and Desktop font-sizes */
@media only screen and (min-width: 1024px) {
  h2 {
    font-size: 5.8rem;
  }

  h2 + a {
    font-size: 6.2rem;
  }

  p {
    font-size: 2.8rem;
  }

  span {
    font-size: 2.6rem;
  }
}

/**
 * GENERAL STYLES
 * ----------------------------------------------------------------------------------------------------
 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #0a0a0a;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

/**
 * POKÉMON CAROUSEL
 * ----------------------------------------------------------------------------------------------------
 */

/* Carousel layout */
.pokemon-carousel {
  position: relative;
  height: 450px;
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px black;
}

/* Layout and basic sttyles of the carousel visualizer */
.pokemon-carousel__slider {
  width: 300%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  transition: all .5s ease;
  background-color: #131313;
  transform: translateX(0%);
}

/* Layout and basic styles of the card */
.pokemon-carousel__card {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3);
  height: 100%;
  border-radius: 10px;
  background-color: #131313;
  transition: transform 1s ease-in-out;
}

/* Basic styles and layout fixes of the general info */
.pokemon-carousel__general-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px 10px 0 0;
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;
}
.pokemon-carousel__general-info img {
  margin-top: 50px;
  border-radius: 1000px;
  width: 50%;
}
.pokemon-carousel__general-info h2 {
  margin: 0;
  padding: 20px 5px 10px;
}

.pokemon-carousel__general-info a {
  font-weight: bold;
  padding: 5px;
}
.pokemon-carousel__general-info span {
  padding: 10px;
}

/* Basic styles and layout fixes of the stats */
.pokemon-carousel__stats {
  display: flex;
  margin: 40px 0 20px;
}
.pokemon-carousel__stats div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pokemon-carousel__stats p {
  margin: 0;
  padding: 5px;
}
.pokemon-carousel__stats img {
  margin: 5px 0;
  width: 30%;
}

/* Carousel buttons positioning and styles */
.pokemon-carousel__button {
  position: absolute;
  top: 56%;
  font-size: 12rem;
  color: #ffffff;
  height: 0;
  transition: 0.1s;
}
.pokemon-carousel__button i {
  box-shadow: 1px 1px 5px #ffffff;
  border-radius: 200px;
}
.pokemon-carousel__button:hover {
  font-size: 12.2rem;
  color: #bdbdbd;
  box-shadow: 1px 1px 5px #bdbdbd;
  transition: 0.1s;
  cursor: pointer;
}
.pokemon-carousel__button--left {
  left: 5%;
  transform: translateX(-5%);
}
.pokemon-carousel__button--right {
  left: 95%;
  transform: translateX(-95%);
}

/* Card colors */
.pokemon-carousel__card--grass .pokemon-carousel__general-info {
  border-bottom: 1px solid #328b50;
  background-image: url("../img/grass-type_background.jpg");
}
.pokemon-carousel__card--grass .pokemon-carousel__general-info img {
  border: 4px solid #328b50;
  box-shadow: 0 0 8px #328b50;
}
.pokemon-carousel__card--grass .pokemon-carousel__general-info a {
  color: #2da856;
}
.pokemon-carousel__card--grass .pokemon-carousel__general-info a:hover {
  color: #13c24e;
}

.pokemon-carousel__card--fire .pokemon-carousel__general-info {
  border-bottom: 1px solid #972d00;
  background-image: url("../img/fire-type_background.jpg");
}
.pokemon-carousel__card--fire .pokemon-carousel__general-info img {
  border: 4px solid #f78251;
  box-shadow: 0 0 8px #ff6827;
}
.pokemon-carousel__card--fire .pokemon-carousel__general-info a {
  color: #f78251;
}
.pokemon-carousel__card--fire .pokemon-carousel__general-info a:hover {
  color: #ff753a;
}

.pokemon-carousel__card--water .pokemon-carousel__general-info {
  border-bottom: 1px solid #216c8a;
  background-image: url("../img/water-type_background.jpg");
}
.pokemon-carousel__card--water .pokemon-carousel__general-info img {
  border: 4px solid #37addd;
  box-shadow: 0 0 8px #2f95bd;
}
.pokemon-carousel__card--water .pokemon-carousel__general-info a {
  color: #37addd;
}
.pokemon-carousel__card--water .pokemon-carousel__general-info a:hover {
  color: #37addd;
}

/* Tablet responsive design */
@media only screen and (min-width: 768px) {
  .pokemon-carousel {
    width: 320px;
    height: 475px;
  }
}

/* Laptop responsive design */
@media only screen and (min-width: 1024px) {
  .pokemon-carousel {
    height: 500px;
    width: 340px;
  }
}
